body {
    text-align: center;
    background-image: url('Images/grass-wallpaper.jpg');
    font-family: 'GBA', sans-serif; /* Käytetään ladattua fonttia */
}

h1 {
padding: 20px;

}

#infobox {
    width: 125%;
    height: 125%;
}

/*Määritellään fontti erilliseen fontface-osioon*/
@font-face {
    font-family: 'GBA';
    src: url('Images/PokemonGb-RAeo.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal; 
  }


  img.pokemon-image {
    width: 150px; /* Voit muuttaa tätä arvoa haluamaksesi kooksi */
    height: 150px; /* Automaattinen korkeus suhteessa leveyteen */
}


  /*submit {
    background-image: url("Images/pokeballsprite.png");
    
    background-size: cover;
    
    background-repeat: no-repeat;
    
    }
*/