body {
    text-align: center;
    background-image: url('Images/grass-wallpaper.jpg');
    font-family: 'GBA', sans-serif; /* Käytetään ladattua fonttia */
    text-size-adjust: 10%;
    margin-bottom: 100px;
}

h1 {
    
    padding: 15px;
}

.nappi {
    margin-top: 10px;
    margin-bottom: 10px;

}

#siteheader {
    margin-bottom: 20px; 
}

.lappu {
    position: fixed; 
    width: 200px;
    padding: 10px
}

.sisalto {
    display: none;
}

.avaa-nappi,
.sulje-nappi {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed; /*jotta footer pysyy alhaalla*/
    width: 100%;
    bottom: 0;
    opacity: 0.7;
  }

.credits { /*footerin tekstit*/
    font-size: x-small;
  }

#pokemon-container { /*eli se mihin pokemonin tiedot tulee*/

    background-color:#fafaef;
    width: 50%;
    opacity: 0.9;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 0 10px black ;
  }

/*Määritellään fontti erilliseen fontface-osioon*/
@font-face {
    font-family: 'GBA';
    src: url('Images/PokemonGb-RAeo.ttf') format('truetype');
    font-weight: 400; 
    font-style: normal; 
  }

img.pokemon-image {
    width: 5%;
    height: auto; 
}

.flavour-div { /*keskellä oleva viiva pokemon-containerissa */
    border-bottom: 3px solid black;
}

@media screen and (max-width: 600px) {
    .lappu {
        top: 0; 
        margin-top: 10px; 
    }

    #siteheader {
        margin-bottom: 10px; 
    }

    .nappi {
        margin: 10px;

    }
    .pokemon.input{

    margin-bottom: 10px;

    }
}

@media (max-width: 770px) {
    img.pokemon-image {
        min-width: 100%; 
    }
}

@media (max-width: 989px) {
    .lappu {
    position: relative;


    }

}

@media (max-width: 767px) {
    #pokemon-container {
        width: 90%;
    }
}

@media (min-width: 768px) {
    img.pokemon-image {
        width: 40%; 
        height: auto;/* Kun näyttö on vähintään 768 pikseliä leveä */
    }
    #pokemon-container {
        width: 50%; /* tai muu sopiva arvo */
    }
}

@media (min-width: 1024px) {
    img.pokemon-image {
        width: 50%; /* Kun näyttö on vähintään 1024 pikseliä leveä */
        height: auto;
    }
}

@media (min-width: 1200px) {
    img.pokemon-image {
        width: 30%; /* Kun näyttö on vähintään 1200 pikseliä leveä */
        height: auto;
    }
}